*,
*::after,
*::before{
    padding: auto;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(245, 244, 244);
}

section{
    height: 100vh;
}

footer{
    background-color: #202020;
    color: white;

}

$work-sans:'Work Sans';
$Nova: 'Nova Square', cursive;
$Passion: 'Passions Conflict', cursive;
$Zen: 'Zen Dots', cursive;
$parisiene: 'Parisienne', cursive;
$main-color:#701717;
$background_1:#fffdf4;
$background_2:#E5DED9;


.sctn{
    overflow: hidden;
    position: relative;
    background-color: $background_1;
    display: grid;
    place-items: center;

    .arrow{
        position: absolute;
        width: 80%;
    }

    .abs{
        position: absolute;

    }

    .flower-container{

        width: 45%;
        top: -1rem;
        right: -1rem;
        
        .capullo-1{
            bottom: 39%;
            left: 13%;
            width: 8%;
            // position: absolute;
            animation: leaves  9s alternate-reverse  infinite ease-in;
            transform-origin: bottom center;

        }
        
        .capullo-2{
            bottom: 21%;
            right: 8.2%;
            width: 25%;
            // position: absolute;
            animation: leaves2 10s alternate infinite ease-in;
            transform-origin: bottom center;
            
        }
    }
    
    .flower-container-2{
        z-index: 10;
        width: 18%;
        bottom: -10%;
        left: 8%;
        // top: -1rem;
        // right: -1rem;
        
        .capullo-3{
            // position: absolute;
            width: 130%;
            left: -65%;
            top: -19%;
            animation: leaves3 10s alternate infinite ease-in;
            transform-origin: center;
        }
        
        .capullo-4{
            // position: absolute;
            width: 120%;
            left: 32%;
            bottom: 65%;
            animation: leaves3 14s alternate-reverse infinite ease-in-out;
            transform-origin: center bottom;
        }
        
        .leave-right-down{
            width: 38%;

            top: 2%;
            left: -30%;
            animation: leaves4 8s alternate infinite ease-in-out;
            transform-origin: bottom right;
        }
        
        .leave-right-down-left{
            width: 30%;
            // transform: rotate(-20deg);
            top: 25%;
            left: 10%;
            animation: leaves5 8s alternate infinite ease-in-out;
            transform-origin: bottom right;
        }
        
        .leave-left-down-left{
            width: 65%;
            top: 40%;
            left: 25%;
            animation: leaves6 8s alternate infinite ease-in-out;
            transform-origin: bottom right;
            
        }
        
    }


    .first-container{
        text-align: center;
        display: grid;
        
        .reason{
            position: relative;
            place-self: center;
            top: .5rem;
            font-family: $work-sans;
            font-size: 1rem;
            font-weight: 300;
            &::first-letter{
                text-transform: uppercase;
            }
        }

        .main-text{
            display: grid;
            grid-template-rows: repeat(auto-fill, 3fr);
            justify-content: center;
            align-items: center;
            font-family: $parisiene;
            text-transform: capitalize;
            font-size: 5rem;
            font-weight: 100;
            // line-height: .8;
            
            
            .y{ //span
                font-size: 3rem;   
                margin-top: -.5rem;   
                margin-bottom: -.5rem;   
            }
        }

        .text-card_container{
            .intro{
                font-family: $work-sans;
                padding-bottom: 1.5rem;
                font-weight: 300;
            }
            // display: grid;
            
            .main-tittle{
                color:  rgb(184, 168, 83);
                font-family: $parisiene;
                font-size: 5rem;
                text-align: center;
                line-height: .6;
                font-weight: 100;
    
                .middle{
                    font-size: 3.5rem;
                }
            }
        }
        .img-card_container{
            display: flex;
            height: 100%;
            .img-card{
                object-fit: cover;
                width: 100%;
            }
        }
    }

}

.footer-section{
    // position: relative;
    // width: 100%;
    font-size: .75rem;
    font-family: $work-sans;
    padding: .5rem;
    display: grid;
    place-items: center;
    height: max-content;
}


@keyframes leaves {
    0%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-17deg);
    }
}
@keyframes leaves2 {
    0%{
        transform: rotate(9deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-20deg);
    }
}
@keyframes leaves3 {
    0%{
        transform: rotate(9deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-9deg);
    }
}

@keyframes leaves4 {
    0%{
        transform: rotate(-25deg);
    }
    50%{
        transform: rotate(-18deg);
    }
    100%{
        transform: rotate(-25deg);
    }
}

@keyframes leaves5 {
    0%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(20deg);
    }
}

@keyframes leaves6 {
    0%{
        transform: rotate(-20deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(-20deg);
    }
}