*,
*::after,
*::before{
    padding: auto;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(245, 244, 244);
}
section{
    height: 100vh;
}

footer{
    background-color: #202020;
    color: white;

}