@use "variables.scss" as *;

.sctn3{
    margin-top: -3rem;
    // .bottom-sctn-3{
    //     position: absolute;
    //     // width: 130%;
    //     top: 0;
    // }

    
    .content_sect3{
        background-color: white;
        display: grid;
        place-items: center;
        width: 80%;
        padding: 4.5rem 1rem;
        opacity: 0;

        .dress_icon{
            max-width: 20%;
            fill: #202020;

        }

        .dresscode{
            margin-bottom: 2.125rem;
            width: 100%;
            padding: .5rem 1rem;
            background-color: #f3adb9;
            // background-color: #af415375;
            font-weight: 300;
            text-align: center;
            font-size: 1.5rem;
        }

        .half{
            display: grid;
            grid-auto-flow: column;
            width: 100%;
            margin-top: 2rem;


            .line__container{
                display: grid;
                place-items: center;


                .line{
                    display: block;
                    width: 1px;
                    height:calc(100% + .10rem);
                    background-color: #202020;
                    transform: translate(6px, -5px);
                }
            }

            .men, .women{
                font-family: $work-sans;
                ul{
                    padding: 0;
                    display: grid;
                    place-items: center;
                    text-transform: capitalize;
                    h3{
                        margin-bottom: .75rem;
                        color: #202020;
                        font-size: 1.5rem;
                    }
                }
                li{
                    text-align: center;
                    font-size: 1.25rem;
                    font-weight: 300;
                }
            }

        }
        h3{
            font-family: $work-sans;
            font-weight: 400;
            font-size: 1.25rem;
            &::first-letter{
                text-transform: uppercase;
            }
        }
        .reserva_color{
            margin-top: 2rem;
        }
        
        
        
    }
    .wtrclr-on-sctn-3, .wtrclr-on-sctn-3_1, .flwr_sctn-3-1{
        position: absolute;
    }

    .wtrclr-on-sctn-3{
        bottom: -1rem;
        left: -2.5rem;
    }
    .wtrclr-on-sctn-3_1{
        top: 0;
        right: -3.5rem;
        transform: rotateY(180deg);
    }
    .wtrclr-on-sctn-3_2{
        top: -.5rem;
        left: -7.5rem;
        transform: rotate(45deg);
    }

    .f-s3_3{
        position: absolute;
        // display:inline-block;
        width: 45%;
        bottom: 0%;
        right: -3%;
        z-index: 100;
        animation: hole_flowers 35s alternate infinite ease-in;
        transform-origin: center bottom;
        // margin: auto;
        .rootplant{
            position: absolute;
            bottom: 0;
            // width: 30%;
            
        }
        
        .thirdrdElementPlant{
            position: relative;
            
        }
        .thirdrdElementPlant{
            bottom: 0;

            
        }
        .leaveThird_one{
            width: 40%;
            right: -10%;
            animation: leaves_sct4 9.75s alternate infinite ease-in;
            transform-origin: right bottom;
            
        }
        
        .leaveThird_two{
            width: 35%;
            right: -8%;
            animation: leaves_sct4 10s alternate infinite ease-in;
            transform-origin: right bottom;
            
        }

        .flowerthird{
            position: absolute;
            width: 33%;
            // top: 0;
            left: 30%;
            bottom: 80%;
            animation: leaves_sct4 8.7s alternate infinite ease-in;
            transform-origin: center;
        }
        .flowerthirdtwo{
            position: absolute;
            width: 40%;
            top: -80%;
            left: 57%;
            animation: leaves_sct4 8.5s alternate infinite ease-in;
            transform-origin: center bottom;

        }
    }

    
    .f-s3_4{
        position: absolute;
        // display:inline-block;
        width: 25%;
        left: 1rem;
        top: -5%;
        transform: rotateY(180deg);
        z-index: 100;
        // margin: auto;
    }

    .sctn-3_flowers{
        transform: rotateY(-180deg);
        z-index: 10;
        width: 45%;
        bottom: 0;
        left: -10%;


        .sctn-2_flwr2{
            width: 45%;
            // top: 100%;
            right: 53%;
            bottom: 8%;
            animation: leaves_sct3 9.5s alternate infinite ease-in;
            transform-origin: right bottom;
        }
        .sctn-2_flwr3{
            width: 12%;
            // top: 100%;
            right: 50%;
            bottom: 50%;
            animation: leaves_sct3 10s alternate infinite ease-in;
            transform-origin: right bottom;
        }
        .sctn-2_flwr4{
            width: 30%;
            // top: 100%;
            left: 4%;
            bottom: 60%;
            animation: leaves_sct4 9.8s alternate infinite ease-in;
            transform-origin: center;
        }
        .sctn-2_flwr5{
            position: absolute;
            // transform: rotate(180deg);
            width: 35%;
            // top: 100%;
            right: 19.5%;
            top: -7%;
            animation: leaves_sct3 11s alternate infinite ease-in;
            transform-origin: center bottom;
        }
        .sctn-2_flwr6{
            width: 8%;
            // top: 100%;
            right: 38%;
            top: 18%;
            animation: leaves_sct3 9.5s alternate infinite ease-in;
            transform-origin: right bottom;
        }
        .sctn-2_flwr7{
            width: 10%;
            // top: 100%;
            right: 27%;
            top: 25%;
            animation: leaves_sct3 9.75s alternate infinite ease-in;
            transform-origin: left bottom;
        }
        .sctn-2_flwr8{
            width: 15%;
            // top: 100%;
            right: 7%;
            bottom: 35%;
            animation: leaves_sct3 10.5s alternate infinite ease-in;
            transform-origin: left top;
        }
    }

}

@keyframes leaves_sct3 {
    0%{
        transform: rotate(9deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-9deg);
    }
}

// @keyframes leaves_sct3_alt {
//     0%{
//         transform: rotate(-186deg);
//     }
//     50%{
//         transform: rotate(180deg);
//     }
//     100%{
//         transform: rotate(186deg);
//     }
// }

