@use "variables.scss" as *;


.sctn4{
    margin-top: -2rem;

    .form{
        background-color: white;
        width: 80%;
        color: $text-color;
        font-family: $work-sans;
        text-transform: capitalize;
        display: grid;
        grid-auto-flow: row;
        padding: 3rem 1rem;
        gap: 2.75rem  1.5rem;
        place-items: center; //////////////
        opacity: 0;
        z-index: 50;

        .message{
            font-size: 1.5rem;
            text-align: center;

            
        }
        .messageImg{
            width: 70%;
            // height: 50%;
            
            // background-image: url(../../elements/Recurso\ 1message.png);
        }

        .form_title{
            font-weight: 400;
            color: $text-color;
            font-size: 1.65rem;
            text-align: center;
        
        }

        .singlePerson{
            display: grid;
            place-items: center;
            .onlyNameGuest{
                font-size: 1.75rem;
                color: $text-color;
                text-align: center;
            }

            .btn-single_person{
                all: unset;
                margin-top: 2rem;
                background-color: $pink;
                font-family: $work-sans;
                width: 70%;
                font-size: 1.25rem;
                // color:$text-color;
                text-align: center;
                padding: .75rem 1rem;
                cursor: pointer;
                transition: .5s ease-in;
                &:hover{
                    background-color: $text-color;
                    color: white;
                }

            }
            
                    .check{
                        display: grid;
                        place-items: center;
                        margin-top: 2rem;
            
                        .form_description{
                        
                            display: block;
                            text-transform: lowercase;
                            width: 95%;
                            text-align: center;
                            margin-bottom: .75rem;
                
                            &::first-letter{
                                text-transform: uppercase;
                            }
                
                        }
            
            
                        .group-choice{
                            display: grid;
                            width: 100%;
                            grid-auto-flow: column;
                            align-self: center;
                            justify-content: space-around;
                
                            .label_check{
                
                                display: grid;
                                grid-auto-flow: row;
                                gap: .95rem;
                                justify-content: center;
                                text-align: center;
                
                                .rad{
                                    border-radius: 50%;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    -ms-appearance: none;
                                    -o-appearance: none;
                                    appearance: none;
                                    position: relative;
                                    top: 13.33333px;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                                    height: 35px;
                                    width: 35px;
                                    transition: all 0.15s ease-out 0s;
                                    background: #cbd1d8;
                                    border: none;
                                    color: #fff;
                                    cursor: pointer;
                                    display: inline-block;
                                    // margin-right: 0.5rem;
                                    outline: none;
                                    position: relative;
                                    z-index: 1000;
                    
                                    // &:hover {
                                    //     background: #9faab7;
                                    //   }
                                    &:checked {
                                        background: $pink;
                                      }
                
                                      
                                    &:checked::before {
                                        position: absolute;
                                        left: 0;
                                        top: 50%;
                                        height: 20%;
                                        width: 5px;
                                        background-color: #ffffff;
                                        content: "";
                                        transform: translateX(12px) rotate(-45deg);
                                        transform-origin: left bottom;
                
                                    }
                                    &:checked::after {
                                        position: absolute;
                                        left: 0;
                                        bottom: 7px;
                                        height: 5px;
                                        width: 60%;
                                        background-color: #ffffff;
                                        content: "";
                                        transform: translateX(15px) rotate(-45deg);
                                        transform-origin: left bottom;
                
                                    }
                                }
                            }
                        }
            
                        .selection-number{  // thi is a button
                            // display: inline-block;
                            margin-top: 2rem;
                            text-decoration: none;
                            text-transform: uppercase;
                            background-color: $pink;
                            font-family: $work-sans;
                            width: 70%;
                            font-size: 1.25rem;
                            color: $text-color;
                            text-align: center;
                            padding: .75rem 1rem;
                            cursor: pointer;
                            transition: .5s ease-in;
                            &:hover{
                                background-color: $text-color;
                                color: white;
                    
                            }
                        }
            
                    }
            
                    .hide-checkMark{
                        display:none;
                    }
            
            
                    .type-list{
                        display: grid;
                        place-items: center;
            
                        .goBack{
                            display: grid;
                            place-items: center;
                            background-color: $pink;
                            padding: .5rem;
                            border-radius: 50%;
                            margin-bottom: 1.5rem;
                            .arrow{
                                width: 2rem;
                                height: 2rem;
                                fill: #202020;
                            }
            
                        }
            
            
                        .list-people{
                            display: block;
                            text-transform: lowercase;
                            width: 95%;
                            text-align: center;
                            margin-bottom: .75rem;
                
                            &::first-letter{
                                text-transform: uppercase;
                            }
                        }
            
                        .list-name{
                            display: grid;
                            place-items: center;
                            gap: 1.25rem;
                            
                            .guest1{
                                text-transform: capitalize;
                                font-size: 1rem;
                                height: 2rem;
                                width: 15.35rem;
                            }
                        }
                            
                        .btn-confirm{
                            all: unset;
                            margin-top: 2rem;
                            background-color: $pink;
                            font-family: $work-sans;
                            width: 70%;
                            font-size: 1.25rem;
                            // color:$text-color;
                            text-align: center;
                            padding: .75rem 1rem;
                            cursor: pointer;
                            transition: .5s ease-in;
                            &:hover{
                                background-color: $text-color;
                                color: white;
                            }
                        }
                    }
            
                    .lst-hide{
                        // visibility: hidden;
                        display: none;
                    }
                    
                    // .lst-show{
                        // visibility: visible;
                    // }
        }
    }
    .flower-container-2{
        z-index: 100;
        width: 15.5%;
        bottom: -10%;
        left: 5%;
        animation: hole_flowers 40s alternate infinite ease-in;
        transform-origin: center bottom;
        // top: -1rem;
        // right: -1rem;
        
        .capullo-3{
            // position: absolute;
            width: 110%;
            left: -50%;
            top: -17%;
            animation: leaves3 10s alternate infinite ease-in;
            transform-origin: center;
        }
        
        .capullo-4{
            // position: absolute;
            width: 120%;
            left: 32%;
            bottom: 65%;
            animation: leaves3 14s alternate-reverse infinite ease-in-out;
            transform-origin: center bottom;
        }
        
        .leave-right-down{
            width: 38%;
    
            top: 2%;
            left: -30%;
            animation: leaves4 8s alternate infinite ease-in-out;
            transform-origin: bottom right;
        }
        
        .leave-right-down-left{
            width: 30%;
            // transform: rotate(-20deg);
            top: 25%;
            left: 10%;
            animation: leaves5 8s alternate infinite ease-in-out;
            transform-origin: bottom right;
        }
        
        .leave-left-down-left{
            width: 65%;
            top: 40%;
            left: 27%;
            animation: leaves6 8s alternate infinite ease-in-out;
            transform-origin: bottom right;
            
        }
    
    }
    
    .sctn-2_flowers{
        z-index: 100;
        width: 41.5%;
        bottom: 0;
        right: -4%;
        animation: hole_flowers 30s alternate infinite ease-in;
        transform-origin: center bottom;

        .sctn-2_flwr2{
            width: 45%;
            // top: 100%;
            right: 53%;
            bottom: 8%;
            animation: leaves_sct4 9.5s alternate infinite ease-in;
            transform-origin: right bottom;
        }
        .sctn-2_flwr3{
            width: 12%;
            // top: 100%;
            right: 50%;
            bottom: 50%;
            animation: leaves_sct4 9s alternate infinite ease-in;
            transform-origin: right bottom;
        }
        .sctn-2_flwr4{
            width: 35%;
            // top: 100%;
            left: 1.5%;
            bottom: 55%;
            animation: leaves_sct4 7s alternate infinite ease-in;
            transform-origin: center top;
        }
        .sctn-2_flwr5{
            width: 35%;
            // top: 100%;
            right: 22.5%;
            top: -7%;
            animation: leaves_sct4 8s alternate infinite ease-in;
            transform-origin: center;
        }
        .sctn-2_flwr6{
            width: 8%;
            // top: 100%;
            right: 38%;
            top: 18%;
            animation: leaves_sct4 8.5s alternate infinite ease-in;
            transform-origin: right bottom;
        }
        .sctn-2_flwr7{
            width: 10%;
            // top: 100%;
            right: 27%;
            top: 25%;
            animation: leaves_sct4 8.5s alternate infinite ease-in;
            transform-origin: left bottom;
        }
        .sctn-2_flwr8{
            width: 15%;
            // top: 100%;
            right: 7%;
            bottom: 35%;
            animation: leaves_sct4 10s alternate infinite ease-in;
            transform-origin: left top;
        }
    }
    .up_flower{
        z-index: 100;
        width: 90%;
        // display: inline-block;
        position: absolute;

        
        top: 3%;
        right: -50%;
        // animation: leaves_sct4 20s alternate infinite ease-in;
        // transform-origin: center top;
        
        .up_flowerSub{
            position: relative;
            // width: 40%;
            // top: 3%;
            // right: -3.75%;
        }
        .uf1{
            width: 15%;
            top: -20%;
            right: -2%;
            animation: leaves_sct4 10s alternate infinite ease-in;
            transform-origin: bottom right;
        }
        .uf2{
            width: 7%;
            right: -7%;
            top: 15.5%;
            animation: leaves_sct4 10s alternate infinite ease-in;
            transform-origin: left top;
        }
        .uf3{
            width: 40%;
            right: 15%;
            top: 2%;
        }
    }

    .veryPink{
        opacity: 0;
        position: absolute;
        right: -40%;
        bottom: -2%;
        opacity: .9;
    }
    .veryPink2{
        opacity: 0;
        position: absolute;
        left: -30%;
        bottom: 2%;
        opacity: .9;
    }
    .veryPink3{
        opacity: 0;
        width: 65%;
        z-index:1;
        position: absolute;
        left: -20%;
        top: 2%;
        opacity: .9;
    }
    .veryPink4{
        opacity: 0;
        // width: 65%;
        z-index:1;
        position: absolute;
        right: -20%;
        top: -2%;
        // opacity: .9;
    }
}

@keyframes leaves_sct4 {
    0%{
        transform: rotate(9deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-9deg);
    }
}
@keyframes hole_flowers {
    0%{
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-3deg);
    }
}
