$work-sans:'Work Sans';
$Nova: 'Nova Square', cursive;
$Passion: 'Passions Conflict', cursive;
$Zen: 'Zen Dots', cursive;
$parisiene: 'Parisienne', cursive;
$main-color:#701717;
$background_1:#fdf9ec;
$background_2:#E5DED9;
