/* Error: Expected identifier.
 *     ,
 * 121 |         .3rdElementPlant{
 *     |          ^
 *     '
 *   src\style\sass\main_components\section3.scss 121:10  @use
 *   src\style\sass\main.scss 5:1                         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a     \2577 \a 121 \2502          .3rdElementPlant{\d\a     \2502           ^\a     \2575 \a   src\\style\\sass\\main_components\\section3.scss 121:10  @use\a   src\\style\\sass\\main.scss 5:1                         root stylesheet";
}
